<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ChatHub</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <span class="navbar-text m-2">
            Welcome <b>{{userName}} </b>
        </span>  
        <span class="navbar-text m-2 logout">
          <a (click)="logout()">Logout <i class="fa fa-sign-out" style="color: blue;"></i></a>
      </span>
      </div>
    </div>
  </nav>